version: "3.9" # can remove if you want

services:
  backend:
    build: ./backend
    container_name: rhcsa-backend
    ports:
      - "5000:80"
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: rhcsa-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped
